# ==============================================================================
# Created by https://dockerignore.com/
# aws-ima-monitor dockerignore
# ==============================================================================

.git
.gitignore
.gitattributes
project/.env
*.log
res/
docapi/
__pycache__
aws_iam_monitor.egg-info
*.md
*.lock
CODEOWNERS
