# ==============================================================================
# aws-iam-monitor Environment Configuration Example
# Copy this file to .env and set your configuration.
# ==============================================================================

# AWS Region
AWS_REGION=us-east-1

# Amazon SNS Security Alert Configuration
SNS_TOPIC_NAME=iam-alerts
SNS_ALERT_EMAIL=security-team@example.com

# CloudTrail Trail Configuration
TRAIL_NAME=aws-iam-monitor-management-events

# Lambda Function Configuration
LAMBDA_FUNCTION_NAME=aws-iam-monitor-lambda
LAMBDA_ROLE_NAME=aws-iam-monitor-lambda-role

# EventBridge Rule Configuration
RULE_NAME=aws-iam-monitor-rule
